@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Nixie+One);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #fcfcf5;
	font-size: 20px;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
}
nav {
	float:right;
	color: #fcfcf5;
}
nav a {
    display: inline-block;
    color: #fcfcf5;
    padding: 14px 16px;
    text-decoration: none;
}
a {
	text-align: center;
	display: block;
	color: #fcfcf5;
	font-family: helvetica;
	font-size: 18px;
	text-decoration: none;
}

div {
    width: 1200px;
    margin: auto;
}
.icons {
    width: 18%;
    height: auto;
    margin-top: 45px;
    margin-left: 60px;
    margin-right: 60px;
    float: center
}
#hero {
	background-image: url("https://c1.staticflickr.com/3/2947/33460495195_bb63bac502_b.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#logo {
	width: 850px;
	display: block;
	margin: 0 auto;
	float: center;
}
#corner {
	width: 50px;
	float:left;
}

#middle {
    width: 1200px;
    height: 500px;
    background-color: white;
    margin: auto;

}
#creative {
	color: #28281e;
	text-align: center;
	font-size: 60px;
	font-family: 'Bungee Shade';
}

#design {
	color: #28281e;
	text-align: center;
	font-size: 50px;
	font-family: 'Abril Fatface';
}
#circles {
	display: block;
	margin: 0 auto;
	float: center;
	height: 38px;
}