body {
	background-color: #fff;
	background-image: url("cottagestars.jpg");
}
h1 {
	color: #011821;
	font-size: 28px;
	text-align: left;
	font-weight: bold;
	font-family: helvetica;
}
p {
	color: #011821;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    display: block;
    font-family: helvetica;
    font-weight: bold;
    font-color: #011821;
    font-size: 12px;
    position: absolute;
    top: 50px;
    right: 0px;
}
li {
    float: left;
    display: inline-block;
    font-color: #011821;
}

li a {
    display: block;
    color: #011821;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




