* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #191925;
	font-size: 20px;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
}
nav {
	float:right;
	background: #fff;
}
nav a {
    display: inline-block;
    color: inherit;
    padding: 14px 16px;
    text-decoration: none;
}
a {
	text-align: center;
	display: block;
	font-color: white;
	font-family: helvetica;
	font-size: 18px;
	text-decoration: none;
}

div {
    width: 1200px;
    margin: auto;
}
.icons {
    width: 33.33%;
    height: auto;
    float: left;
}
#hero {
	background-image: url("https://c1.staticflickr.com/3/2947/33460495195_bb63bac502_b.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
>>>>>>> origin/master
#logo {
	width: 725px;
	display: block;
	margin: 0 auto;
}
#corner {
	width: 60px;
	float:left;
}
