body {
	background-image: url("https://c1.staticflickr.com/3/2947/33460495195_bb63bac502_b.jpg");
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}
h1 {
	color: #fff;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: helvetica;
}
p {
	color: #000;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
	font-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    display: block;
    font-family: helvetica;
    font-weight: bold;
    font-color: #191925;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 0px;
}
li {
    float: left;
    display: inline-block;
    font-color: #191925;
}

li a {
    display: block;
    color: #191925;
    font-color: #191925;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo {
	width: 725px;
	display: block;
	margin: 0 auto;
	margin-bottom: 0px;
}

#papa {
	width: 270px;
	height: 270px;
}

#photography {
	width: 270px;
	height: 270px;
}

#infographic {
	width: 270px;
	height: 270px;
}

.boxes {
	display: inline-block;
	margin:0 0 0 0;
	margin-left: 90px;
	margin-right: 7px;
	margin-bottom: 0px;
	margin-top: -30px;
}
.text {
	display: inline-block;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 0px;
	font-family: helvetica
	font-size: 25px;
	font-color: white;
    padding: 4px;
    color: white;
    text-decoration: none;
}

#corner {
	width: 60px;
	display: block;
	margin-left: 0px;
	margin-bottom: 0px;

}







