body {
	background-image: url("images/cottagestars.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
h1 {
	font-color: #FFF4EB;
	font-size: 28px;
	text-align: left;
	font-weight: bold;
	font-family: helvetica;
}
p {
	display: inline;
	width: 200px;
	font-color: #FFF4EB;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-color: #011821;
    display: block;
    font-family: helvetica;
    font-weight: bold;
    font-color: #011821;
    font-size: 12px;
    position: absolute;
    top: 50px;
    right: 0px;
}
li {
    float: left;
    display: inline-block;
    font-color: #011821;
}

li a {
    display: block;
    color: #011821;
  	font-color: #011821;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




